/Activate.ps1
/activate
/activate.bat
/deactivate.bat
/easy_install-3.7.exe
/easy_install.exe
/epylint.exe
/isort.exe
/pip.exe
/pip3.7.exe
/pip3.exe
/pylint.exe
/pyreverse.exe
/python.exe
/pythonw.exe
/symilar.exe
